@using Microsoft.AspNetCore.Identity
@inject SignInManager<MediaApp.Domain.User> signInManager
@inject UserManager<MediaApp.Domain.User> userManager

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - MediaApp</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">MediaApp</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <partial name="_LoginPartial" />
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        @{ if (!signInManager.IsSignedIn(User))
                            {
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Film" asp-action="Index">Films</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Music" asp-action="Index">Music</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Podcast" asp-action="Index">Podcasts</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Series" asp-action="Index">Series</a>
                                </li>
                            }
                            else if (signInManager.IsSignedIn(User))
                            {
                                <div class="dropdown">
                                    <button class="btn btn-info dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        Films
                                    </button>
                                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                        <a class="dropdown-item" onclick="RedirectToFilmOverview()">Overview films</a>
                                        <a class="dropdown-item" onclick="RedirectToBookmarkFilmOverview(@userManager.GetUserAsync(User).Result.BookmarkedFilmsId)">My Bookmarks <i class="fas fa-heart"></i> </a>
                                        <a class="dropdown-item" onclick="RedirectToFilmCreate()">Create film</a>
                                        <div class="dropdown-divider"></div>
                                        <a class="dropdown-item" onclick="RedirectToFilmPlaylistOverview()">Overview film playlists</a>
                                        <a class="dropdown-item" onclick="RedirectToFilmPlaylistCreate()">Create film playlist</a>
                                    </div>
                                </div>
                                <div class="dropdown">
                                    <button class="btn btn-info dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        Music
                                    </button>
                                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                        <a class="dropdown-item" onclick="RedirectToMusicOverview()">Overview music</a>
                                        <a class="dropdown-item" onclick="RedirectToBookmarkMusicOverview(@userManager.GetUserAsync(User).Result.BookmarkedFilmsId)">My Bookmarks <i class="fas fa-heart"></i> </a>
                                        <a class="dropdown-item" onclick="RedirectToMusicCreate()">Create music</a>
                                        <div class="dropdown-divider"></div>
                                        <a class="dropdown-item" onclick="RedirectToMusicPlaylistOverview()">Overview music playlists</a>
                                        <a class="dropdown-item" onclick="RedirectToMusicPlaylistCreate()">Create music playlist</a>
                                    </div>
                                </div>
                                <div class="dropdown">
                                    <button class="btn btn-info dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        Podcast
                                    </button>
                                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                        <a class="dropdown-item" onclick="RedirectToPodcastOverview()">Overview podcast</a>
                                        <a class="dropdown-item" onclick="RedirectToBookmarkPodcastOverview(@userManager.GetUserAsync(User).Result.BookmarkedFilmsId)">My Bookmarks <i class="fas fa-heart"></i> </a>
                                        <a class="dropdown-item" onclick="RedirectToPodcastCreate()">Create podcast</a>
                                        <div class="dropdown-divider"></div>
                                        <a class="dropdown-item" onclick="RedirectToPodcastPlaylistOverview()">Overview podcast playlists</a>
                                        <a class="dropdown-item" onclick="RedirectToPodcastPlaylistCreate()">Create podcast playlist</a>
                                    </div>
                                </div>
                            }
                        }
                        @if (User.IsInRole("Admin"))
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Admin" asp-action="Index">Manage comments</a>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2020 - MediaApp - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script>
        function RedirectToFilmOverview() {
            window.location.href = "/Film/Index"
        }
        function RedirectToFilmCreate() {
            window.location.href = "/Film/Create"
        }
        function RedirectToFilmPlaylistCreate() {
            window.location.href = "/Playlist/Create/?mediaType=Film"
        }
        function RedirectToFilmPlaylistOverview() {
            window.location.href = "/Playlist/Film"
        }
        function RedirectToBookmarkFilmOverview() {
            window.location.href = "/Bookmark/Film"
        }
        function RedirectToMusicOverview() {
            window.location.href = "/Music/Index"
        }
        function RedirectToMusicCreate() {
            window.location.href = "/Music/Create"
        }
        function RedirectToMusicPlaylistCreate() {
            window.location.href = "/Playlist/Create/?mediaType=Music"
        }
        function RedirectToMusicPlaylistOverview() {
            window.location.href = "/Playlist/Music"
        }
        function RedirectToBookmarkMusicOverview() {
            window.location.href = "/Bookmark/Music"
        }
        function RedirectToPodcastOverview() {
            window.location.href = "/Podcast/Index"
        }
        function RedirectToPodcastCreate() {
            window.location.href = "/Podcast/Create"
        }
        function RedirectToPodcastPlaylistCreate() {
            window.location.href = "/Playlist/Create/?mediaType=Podcast"
        }
        function RedirectToPodcastPlaylistOverview() {
            window.location.href = "/Playlist/Podcast"
        }
        function RedirectToBookmarkPodcastOverview() {
            window.location.href = "/Bookmark/Podcast"
        }
    </script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/lib/qrcode.js"></script>
    <script src="https://kit.fontawesome.com/a6748bd2b3.js" crossorigin="anonymous"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
<style>
    .dropdown-item:hover {
        cursor: pointer;
    }
</style>
