@model FilmDetailViewModel;

@{
    if (!String.IsNullOrEmpty(Model.PhotoUrl))
    {
    <img src="@Model.PhotoUrl" class="photo-url" />
    }
}
<br />
<strong>Title:</strong>
<p>@Model.Title</p>

<strong>Director:</strong>
<p>@Model.Director</p>

<strong>Release date:</strong>
<p>@Model.ReleaseDate.ToShortDateString()</p>

<strong>Duration:</strong>
<p>@Model.Duration</p>

<strong>Status:</strong>
<p>@Model.Status</p>

<strong>Genre:</strong>
<p>@Model.Genre</p>

@if(!String.IsNullOrEmpty(@Model.ContentUrl))
{
<a href="@Model.ContentUrl">View content</a>
}

<p>
    <a asp-controller="film" asp-action="edit" asp-route-id="@Model.Id"> Edit</a> |
    <a asp-controller="film" asp-action="delete" asp-route-id="@Model.Id"> Delete</a> |
    <a asp-controller="film" asp-action="index"> Back to film overview</a>
</p>

<style>
    .photo-url {
        max-width: 400px;
    }
</style>